<!-- app/views/customers/_customer.html.erb -->
<div class="max-w-sm rounded overflow-hidden shadow-lg">
  <% if customer.image.attached? %>
    <%= image_tag(customer.image, class: "w-full") %>
  <% else %>
    <%= image_tag('default-customer.png', class: "w-full") %>
  <% end %>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2"><%= customer.full_name %></div>
    <p class="text-gray-700 text-base">
      Email: <%= customer.email_address %><br>
      Phone: <%= customer.phone_number %>
    </p>
  </div>
  <div class="px-6 pt-4 pb-2">
    <%= customer.notes %>
  </div>
</div>
